{% extends "base.html" %} {% block content %}
<div class="container">
  <a
    class="mb-5"
    href="{% url 'list_albums' %}"
    class="d-flex justify-content-start"
    ><- Back Home</a
  >
  <div
    class="d-flex flex-column align-items-center justify-content-center mb-5"
  >
    <div class="mb-5">
      <h1>Delete Album</h1>
    </div>

    <div>
      <form action="{% url 'delete_album' pk=album.pk %}" method="POST">
        {% csrf_token %}
        <p>
          Are you sure you want to delete album "{{ album.title }}"? This action
          cannot be undone
        </p>
        <button class="btn btn-danger" type="submit">Delete Album</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
