{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="mb-5">
    <a href="{% url 'list_albums' %}" class="d-flex justify-content-start"
      ><- Back Home</a
    >
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h1>{{ album.title}}</h1>
    {% for artist in album.artist.all %}
    <div class="mb-5">
      <a href="{% url 'artist_album' pk=artist.pk %}"
        >Artist: {{ artist.name }}</a
      >
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
