{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="d-flex justify-content-center">Music App</h1>
  <div class="d-flex flex-row">
    {% for album in albums %}
    <a href="{% url 'detail_album' pk=album.pk %}">
    <div class="card mr-3" style="width: 18rem;"">
      <div class="card-body">
  
          <h5 class="card-title">{{ album.title }}</h5>
          <a href="{% url 'delete_album' pk=album.pk %}">Delete Album</a><br />
          <a href="{% url 'edit_album' pk=album.pk %}">Edit album<a>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
